{{!< default}}
<main id="main">
        {{#match @custom.header_action "No action"}}
        {{> "components/header" layout="wide" background="image" primary=@custom.primary_header secondary=@custom.secondary_header}}
    {{else match @custom.header_action "Search"}}
        {{> "components/header" layout="wide" background="image" action="search" primary=@custom.primary_header secondary=@custom.secondary_header}}
    {{else match @custom.header_action "Subscribe"}}
        {{> "components/header" layout="wide" background="image" action="email" primary=@custom.primary_header secondary=@custom.secondary_header}}
    {{/match}}

<section class="p-post-container">

    {{#get "posts" filter="featured:true" order="posts.count DESC" limit="1"}}
        {{> "components/list" layout="magazine" count="1" showExcerpt=true showPrimaryTag=true}}
    {{/get}}

</section>
<section class="p-hero-buttons">
    <div>
        {{! Link to the manefesto }}
        <a href="https://luddite.beer/manifesto/">Read the manifesto &rarr;</a>
        {{! Link to the labels page }}
        <a href="https://luddite.beer/just-labels">Marvel at our labels &rarr;</a>
    </div>
</section>

<section class="p-post-container">
    {{#if @custom.enter_tag_slugs_for_homepage_sections}}
        {{#get "tags" filter="slug:[{{@custom.enter_tag_slugs_for_homepage_sections}}]"}}
            {{#foreach tags}}
                {{#if @odd}}
                    {{> "components/list" layout="grid" column="3" count="3" showHeader=true showExcerpt=true}}
                {{else}}
                    {{> "components/list" layout="grid" column="4" count="4" showHeader=true showExcerpt=true}}
                {{/if}}
            {{/foreach}}
        {{/get}}
    {{else}}
        {{#match posts.length ">" 1}}
            {{#get "tags" include="count.posts" order="count.posts desc" limit="3"}}
                {{#foreach tags}}
                    {{#if @odd}}
                        {{> "components/list" layout="grid" column="3" count="3" showHeader=true}}
                    {{else}}
                        {{> "components/list" layout="grid" column="4" count="4" showHeader=true}}
                    {{/if}}
                {{/foreach}}
            {{/get}}
        {{/match}}
    {{/if}}
</section>
{{!-- <section class="p-hero-buttons">
    <div>
        {{! Link to the brews tag }}
        <a href="https://luddite.beer/tag/brews">View all our brews &rarr;</a>  
    </div>
</section> --}}
</main>